:root {
    --nav-color: #F6F4F1;
    --nav-link: gray;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;



}


.mobile-nav {
    display: none;
}

/*NAV-SECTION*/
.logo {
    width: 75px;
    border-radius: 45%;


}

nav {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: var(--nav-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;


}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding-left: 3em;
}

.nav-link-p {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

nav i {
    font-size: 2em;
}

.nav-link-p:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav-link-p:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: gray;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.nav-link-p:before, .nav-link:active:before {
    left: 0;
    right: 0;
}

nav i:hover {
    font-size: 2.4em;
    transition: 0.30s;
}

/*FINAL-SECTION-NAV*/


/*HOME-SECTION*/
#home-section {
    background-color: beige;
    position: relative;


}

.responsive-img {
    display: none;

}

header {
    font-family: 'Martel', serif;
}

.video-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
}

.header-text {

    color: #FFFECF;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 40%;
    text-align: center
}

.title-text {
    font-size: 2em;
    overflow: hidden;
}

/*FINAL HOME-SECTION*/

/*BLOG-SECTION*/
.container-blog {
    background-color: #F5F5F5;
    padding: 2em;
}

.first-title {


    text-align: center;
    font-size: 2em;
    color: #423E3B;
    text-decoration: underline 2px black;
    font-family: 'Roboto Condensed', sans-serif;

}


article {
    padding: 1em;
}

article p {

    padding: 1.5em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.title-ar {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}


.img-blog {
    display: block;
    margin: 1em auto;
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

/*FINAL BLOG SECTION*/


/*NEWS-SECTION*/
#news-section {
    margin: 2em;
}

.title-of-news {

    text-align: center;
    padding-bottom: 2em;
    font-size: 1.8em;
    text-decoration: underline;
}


.container-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: auto;
    gap: 2.5em 2.5em;

}


.figure-info img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5%;

}

.news-title {
    text-align: center;
    padding-top: 2px;
}

.figure-info .blog-link {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif
}

.new-information p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-align: justify;

}

/*FINAL NEWS-SECTION*/

/*FOOTER-SECTION*/

.container-footer {
    padding: 2em;
    background-color: #403A3A;
}

.pre-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #FF2E00 1px solid;

}

.contact-ul {
    display: flex;
}

.contact-li a {
    color: black;
    padding-left: 1em;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}

.contact-li a:hover {
    color: #FEA82F;
}

/*SOCIAL NETWORS-FOOTER*/
.social-networks {
    display: flex;
}

.social-networks i {
    padding: 10px;
    color: #FFFECB;
}

.social-networks i:hover {
    color: #FEA82F;
}




.footer {
    display: flex;
    justify-content: space-around;
}


.footer a {
    text-decoration: none;
}

.pre-footer img {
    width: 75px;
    border-radius: 45%;
}

.footer-input {
    display: flex;
    align-items: center;
    margin-top: 2em;

}

.footer-input input {


    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px 0px 0px;
    color: #5f5f5f;
}

.footer-input button {
    height: 100%;
    border: none;
    font-size: 19px;
    color: #fff;
    background-color: #FF2E00;
    padding: 2.3px;
    width: 30px;
    border-radius: 4px;

    border-bottom-left-radius: 0px;

}

.footer-title {
    margin-top: 1.6em;
    padding-left: 2.8em;
    color: #fff;
    font-size: 1.3em;
}

.footer-title:hover {
    color: #FF2E00;
}

span {
    position: sticky;

    right: 0;
    margin-top: 50px;
    color: #fff;
    font-size: 14px;
}

/*FINAL-FOOTER-SECTION*/

/*RESPONSIVE MODE*/

@media screen and (max-width: 768px) {
    .canvas-img {
        width: 300px;
        transform: translateX(40px);
    }

    .nav-section {
        display: none;
    }

    .header-text {

        color: #FFFECF;
        position: absolute;
        top: 35%;
        text-align: center;
        left: 50%;
        transform: translateX(85px);
        z-index: 1;

    }

    .mobile-nav {
        display: block;
        position: absolute;
        overflow: hidden;
    }

    .video-header video {
        /* display: */
    }


    /**/
    .title-text {
        font-size: 1.7em;
        overflow: hidden;
    }

    .responsive-img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .header-text {
        position: absolute;
        left: 20%;


    }

    .container-news {
        grid-template-columns: repeat(1, 1fr);
        gap: 1em 1em;
    }



    .contact-ul, .social-networks {
        flex-direction: column;

    }

    .contact-li {
        padding: 1px;
    }

    .footer-input {
        display: none;
    }

    .footer a {
        text-align: center;
        text-decoration: none;

    }

    span {
        display: none;
    }
}

@media screen and (max-width: 430px) {

    .header-text {

        color: #FFFECF;
        position: absolute;
        top: 20%;
        text-align: center;
        left: 20%;
        transform: translateX(10px);

    }

    .title-text {
        font-size: 1.4em;
        overflow: hidden;
    }

}